{% load static %}
<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" id="ample-style-css" href="{% static 'bootstrap/css/bootstrap.css' %}" type="text/css" media="all">
<link href="https://fonts.googleapis.com/css?family=Muli|Roboto|Offside" rel="stylesheet">
    </head>
    <body class="wide">
        <div id="page" class="hfeed site">
            <header>
                <div class="header">
                    <div class="main-head-wrap inner-wrap clearfix">
                        <div id="header-logo-image">
                            <a href="/">
                                <img src="{% static 'images/logo.png' %}" alt="Wisdom Pet Medicine">
                            </a>
                        </div>
                        <div id="login-box" class="login">
                          <a id="signup-button" class="login-link" href="{% url 'sign_up'%}">Sign Up</a>
                          <a id="login-button" class="login-link" href="{% url 'login'%}">Login</a>
                        </div>
                    </div>
                </div>
            </header>
            <div class="main-wrapper">
                <div class="single-page clearfix">
                    <div class="inner-wrap">
                        <p>Maybe some text here</p>
                        <div>
                        {% block content %}
                        {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            <footer id="colophon">
                <div class="inner-wrap">
                    Maybe some text here
                </div>
            </footer>
        </div>
      <script src="{% static 'main.js' %}"></script>
    </body>
</html>
