{% extends "base.html" %}
{% block content %}
<div>
  <h3>{{ list.name|capfirst }}</h3>
  <a id="edit-button" class="login-link" href="{% url 'edit_list'  list.id %}">Edit</a>
  <p>Owner: {{ list.owner.username }}</p>
  <p>ID : {{ list.id }}</p>
  <p>Type : {{ list.type }}</p>
  {% if list.private %}
    <p>This list is private.</p>
  {% elif list.type == '1' %}
    <h4>Content - Text</h4>
    <p>{{ list.content }}</p>
  {% elif list.type == "0" %}
    <h4>Content - Itemized</h4>
    <p>{{ list.content }}</p>
  {% endif %}

</div>
{% endblock %}
